.material-icons {
    vertical-align:text-top ;
    font-size: 20px;
}
#content table, #buttons {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    
}

#call-panel {
    width: 300px;
    height: 250px;
    border: solid 1px black;
    position: absolute;
    background-color: white;
    bottom: 2px;
    right: 5px;

}
#call-panel .title {
    border: solid 1px green;
    height: 2em;
    padding: 5px 10px;
}
#call-panel .body .left {
    float: left;
    width: 50%;   
}
#call-panel .body .right {
    float: right;
    width: 50%;
    text-align: center;
}
#time, #mute-unmute, #hangup {
    margin-top: 30px;
}

#call-panel .body .left > div {
    width: 30px;
    height: 30px;
    border: solid 1px #333;
    margin-top: 15px;
    margin-left: 15px;
    padding-top: 3.5px;
    box-sizing: border-box;
    cursor: pointer;
}
