<!DOCTYPE html>
<html lang="en" ng-app="webphone">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tel4VN - Camera</title>

    <!-- css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/app.css">
    <!-- JAVASCRIPT -->
  
</head>

<body ng-controller="ContactController as vm">
    <!-- top nav -->
    <nav class="navbar navbar-light bg-success">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="https://tel4vn.edu.vn/front/themes/pt/images/logo.png" width="120" height="30"
                    class="d-inline-block align-top" alt="">
                <span class="text-white ml-2"> Tel4vn SOFTPHONE</span>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
            <form class="form-inline my-2 my-lg-0">
                <a href="#" class="text-white" ng-click="vm.showRegisterModal=true">Register</a>
            </form>
        </div>
    </nav>


    <div class="container mt-5">
        <div class="clearfix">
            <button type="button" class="btn btn-success float-right" ng-click="vm.addContact()">
                <i class="material-icons">add_circle_outline</i>
                <span>AddContact</span>       
            </button>
        </div>
        <table class="table table-striped mt-2">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Firt Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th width="250px">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-mouseover="vm.showEventButtons($index, true)" 
                    ng-mouseout="vm.showEventButtons($index, false)"
                    ng-repeat="contact in vm.contacts track by $index"
                >

                    <td>{{($index + 1)}}</td>
                    <td>{{contact.firstName}}</td>
                    <td>{{contact.lastName}}</td>
                    <td>{{contact.phone}}</td>
                    <td height="56px">
                        <span ng-show="vm.isShowingButtons[$index]">
                            <button class="btn btn-success btn-sm" ng-click="vm.call(contact)">
                                <i class="material-icons">call</i>
                                <span>Call</span>
                            </button>   
                            <button class="btn btn-primary btn-sm" ng-click="vm.editContact(contact)">
                                <i class="material-icons">edit</i>
                                <span>Edit</span> 
                            </button>
                            <button class="btn btn-danger btn-sm" ng-click="vm.delContact(contact)">
                                <i class="material-icons">delete</i>    
                                <span>Del</span> 
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    
    <!-- Call Panel -->
    <div id="call-panel" ng-controller="CallController as vm" ng-show="!vm.callStatus==''">
        <div class="title">
            <span ng-if="vm.callInfo.lastName || vm.callInfo.firstName">Calling: {{vm.callInfo.firstName}} {{vm.callInfo.lastName}} ({{vm.callInfo.phone}})</span>
            <span ng-if="!vm.callInfo.lastName || !vm.callInfo.firstName">Calling: {{vm.callInfo.phone}}</span>
        </div>
        <div class="body">
            <div class="left mt-2" ng-if="vm.callStatus=='connected'">
                <div class="rounded-circle float-left px-2 btn btn-outline-primary" ng-repeat="key in vm.keypads" ng-click='vm.dtmf(key)'>{{key}}</div>
            </div>
            <div class="right">
                <div id="time">{{ vm.counterText }}</div>
                <div id="mute-unmute" ng-if='vm.callStatus=="connected"'>
                    <button class="btn btn-outline-secondary btn-sm"  ng-click="vm.toogleMute()">
                            <i class="material-icons" ng-if="vm.isMute">mic</i>
                            <i class="material-icons"  ng-if="!vm.isMute">mic_off</i>
                            
                    </button>
                    <button class="btn btn-outline-secondary btn-sm" ng-click="vm.toogleHold()">
                        <i class="material-icons" ng-if="!vm.isHold">phone_paused</i>
                        <i class="material-icons" ng-if="vm.isHold">call</i>
                    </button>
                </div>
                <div id="hangup">
                    <div ng-if="vm.callStatus=='ringing'">
                        <button class="btn btn-outline-success btn-sm"  ng-click="vm.accept()">
                                <i class="material-icons">call</i>
                        </button>
                        <button class="btn btn-outline-danger btn-sm"  ng-click="vm.reject()">
                            <i class="material-icons">call_end</i>
                        </button>
                    </div>
                    <div ng-if="vm.callStatus=='connected'">
                            <button class="btn btn-outline-danger btn-sm"  ng-click="vm.hangup()">
                                <i class="material-icons">call_end</i>
                                <span>Hangup</span>
                            </button>
                    </div>
                    <div ng-if="vm.callStatus=='connecting'">
                            <button class="btn btn-outline-danger btn-sm"  ng-click="vm.hangup()">
                                <i class="material-icons">call_end</i>
                                <span>Cancel</span>
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal -->
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>


    <!-- modal -->
    <div class="modal d-block" tabindex="-1" role="dialog" ng-show="vm.showRegisterModal">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Let's enter your account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.showRegisterModal=false">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                    <form>
                            <div class="form-group row">
                              <label for="inputEmail3" class="col-sm-2 col-form-label">Identity</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail3" placeholder="501" ng-model="vm.registerInfo.identity">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                              <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="vm.registerInfo.password">
                              </div>
                            </div>
                        
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="vm.showRegisterModal=false">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="vm.register()">Register</button>
            </div>
        </div>
        </div>
    </div>     
      <!-- Audio -->
      <audio id="localAudio"></audio>
      <audio id="remoteAudio"></audio>
    <!-- JAVESCRIPT -->
    <script src="javascripts/sip-0.15.7.min.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/call.controller.js"></script>
    
</body>

</html>